.container1 {
    margin-top: 5vh;
}

nav {

    font-size: 35px;
    padding-left: 35vw;
    margin-top: px;
    background-color: black;
    color: whitesmoke;
    height: 18vh;
    padding-bottom: 15px;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;

}


#images {
    width: 80vw;
    margin-left: 10vw;
    /* padding-right: %; */
    height: 100vh;
    min-width: 80vw;
    border: 1px solid white;
    border-radius: 12px;
}

#btn1 {
    position: relative;
    bottom: 70vh;
    margin-left: 10vw;
    height: 200px;
    width: 85px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 8vw;
    background-color: gray;
    opacity: 0.4;

}

#btn2 {
    position: relative;
    bottom: 70vh;
    margin-left: 66.3vw;
    height: 200px;
    width: 85px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 8vw;
    background-color: gray;
    opacity: 0.4;
    color: black;
}


body {
    background-color: whitesmoke;

}



.container2 {

    font-size: 35px;
    width: 45vw;
    margin-right: 20vw;
    padding-left: 5vw;
    position: relative;
    bottom: 15vh;
}

h3 {
    font-size: 45px;
}

#para1 {

    font-size: 26px;
    color: rgb(42, 42, 42);
    background-color: rgb(236, 236, 236);

}

.container3 {

    padding-left: 5vw;
    position: relative;
    bottom: 50vh;
}

.images {

    padding-right: 25px;
    height: 200px;
    margin-bottom: 10px;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;


}

.show-case :hover {

    height: 250px;


}

#cover {
    position: relative;
    bottom: 110vh;
    left: 42vw;
    height: 500px;
    border: 1px solid white;
    border-radius: 12px;

}

.footer {


    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}